B2BCommerceRFQ/force-app/main/default/flows/B2B_Create_Quote_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Oppty</name>
        <label>Create Oppty</label>
        <locationX>392</locationX>
        <locationY>260</locationY>
        <actionName>B2BCreateOppty</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <faultConnector>
            <targetReference>An_Error_Occured</targetReference>
        </faultConnector>
        <inputParameters>
            <name>cartID</name>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>opptyID</assignToReference>
            <name>cool_opptyID</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>518</locationX>
        <locationY>328</locationY>
        <actionName>B2BCreateQuote</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Cart</targetReference>
        </connector>
        <faultConnector>
            <targetReference>An_Error_Occured</targetReference>
        </faultConnector>
        <inputParameters>
            <name>opptyID</name>
            <value>
                <elementReference>opptyID</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>quoteID</assignToReference>
            <name>cool_quoteID</name>
        </outputParameters>
    </actionCalls>
    <interviewLabel>B2B Create Quote Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Create Quote Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Quote Name for Screen Display</description>
        <name>Get_Quote_Name</name>
        <label>Get Quote Name</label>
        <locationX>944</locationX>
        <locationY>509</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FinishedConfetti</targetReference>
        </connector>
        <faultConnector>
            <targetReference>An_Error_Occured</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>quoteID</elementReference>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>quoteNumber</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCart</name>
        <label>GetCart</label>
        <locationX>269</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Oppty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>An_Error_Occured</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <object>WebCart</object>
        <outputAssignments>
            <assignToReference>accountID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>recordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>quoteID</assignToReference>
            <field>Quote_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>cartStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cart</name>
        <label>Update Cart with Quote ID</label>
        <locationX>648</locationX>
        <locationY>388</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <faultConnector>
            <targetReference>An_Error_Occured</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Quote_ID__c</field>
            <value>
                <elementReference>quoteID</elementReference>
            </value>
        </inputAssignments>
        <object>WebCart</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity with Quote ID</label>
        <locationX>797</locationX>
        <locationY>453</locationY>
        <connector>
            <targetReference>Get_Quote_Name</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>opptyID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__PrimaryQuote__c</field>
            <value>
                <elementReference>quoteID</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>An_Error_Occured</name>
        <label>An Error Occured</label>
        <locationX>1340</locationX>
        <locationY>153</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Error: {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_a_Quote</name>
        <label>Create a Quote</label>
        <locationX>141</locationX>
        <locationY>163</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCart</targetReference>
        </connector>
        <fields>
            <name>DisplayText1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px;&quot;&gt;&lt;i&gt;Thank you for your Request&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please Click [Next] to create a quote from your current cart.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinishedConfetti</name>
        <label>Confetti</label>
        <locationX>1043</locationX>
        <locationY>580</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayText3</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;A Salesperson will contact you soon.   &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60); font-size: 16px;&quot;&gt;For your reference, your Quote Number is:   {!quoteNumber}  &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confetti</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Create_a_Quote</startElementReference>
    <status>Active</status>
    <variables>
        <name>accountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>cartStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>oppty</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>opptyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>quoteNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
