B2BCommerceRFQ/force-app/main/default/flows/B2B_Billing_Compatibility_Set_Defaults.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Default_Order_Product_Values</name>
        <label>Default Order Product Values</label>
        <locationX>572</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>$Record.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_PriceBookEntryID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__BillingRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Record.blng__BillingRule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__RevenueRecognitionRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Record.blng__RevenueRecognitionRule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__TaxRule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Record.blng__TaxRule__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_Record.SBQQ__BillingType__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order.EffectiveDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Order.EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__HoldBilling__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingFrequency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Monthly</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__BillingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Advance</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ChargeType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Recurring</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ContractAction__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__DefaultSubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__InvoiceRunProcessingStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Billing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__InvoiceRunStatusIndex__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending Billing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__OrderedQuantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ProductSubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__ProrateMultiplier__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SubscriptionPricing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Fixed Price</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SubscriptionTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.SBQQ__SubscriptionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Renewable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.blng__NextBillingDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <description>Remove tax treatment extras</description>
    <interviewLabel>B2B Billing Compatibility Set Defaults {!$Flow.CurrentDateTime}</interviewLabel>
    <label>B2B Billing Compatibility Set Defaults</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_PriceBookEntry_ID</name>
        <label>PriceBookEntry ID</label>
        <locationX>299</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_Record</targetReference>
        </connector>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_PriceBookID</elementReference>
            </value>
        </filters>
        <object>PricebookEntry</object>
        <outputAssignments>
            <assignToReference>var_PriceBookEntryID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Record</name>
        <label>Product Record</label>
        <locationX>430</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_Order_Product_Values</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <object>Product2</object>
    </recordLookups>
    <recordLookups>
        <name>Get_Standard_Pricebook2_ID</name>
        <label>Standard Pricebook2 ID</label>
        <locationX>176</locationX>
        <locationY>293</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PriceBookEntry_ID</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Standard Price Book</stringValue>
            </value>
        </filters>
        <object>Pricebook2</object>
        <outputAssignments>
            <assignToReference>var_PriceBookID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <startElementReference>Get_Standard_Pricebook2_ID</startElementReference>
    <status>Active</status>
    <variables>
        <name>var_PriceBookEntryID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_PriceBookID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
